<%%= form_for(@<%= model_name %>) do |f| %>
  <%% if @<%= model_name %>.errors.any? %>
    <div id="error_explanation">
      <h2> <%%= @<%= model_name %>.errors.count, "error" %> prohibited this <%= model_name %> from being saved:</h2>

      <ul>
      <%% @<%= model_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<%= form_format(archetype.definition) %>

  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>
